#farm
  table
   - for(var i=0; i<3; i++)
     tr
       - for(var j=0; j<3; j++)
         td(data-plot='#{(i*3)+j}', style='position:relative')
           .farm-plot(class= farm.plots[(i*3)+j].isUnlocked ? 'unlocked' : 'locked')
           if farm.plots[(i*3)+j].isAvailable === false
             div(class=farm.plots[(i*3)+j].crop.cropClass)
           .plot-controls
             if farm.plots[(i*3)+j].isUnlocked === false
               button.button.button-small.button-primary.buyPlot $#{farm.plots[(i*3)+j].cost}
             if farm.plots[(i*3)+j].isAvailable
               button.button.button-small.button-action.plant(class= farm.plots[(i*3)+j].isUnlocked ? 'unlocked' : 'locked') Plant Seed
               select(class= farm.plots[(i*3)+j].isUnlocked ? 'unlocked' : 'locked')
                 option -Seed-
                 option corn
                 option cotton
             if farm.plots[(i*3)+j].crop.isMature
               button.button.button-small.button-action.harvest(class= farm.plots[(i*3)+j].isUnlocked ? 'unlocked' : 'locked') Harvest
