extends ../shared/template

block content

  header
    h1 Game!
    #controls
      input#username(type='text', autofocus=true, placeholder='Username')
      button#login Login

  .row
    .col-md-2
      #dashboard-container.menu-container
      #inventory-container.menu-container
    .col-md-8
      .well
        #economy-container.menu-container
    .col-md-2
      #store-container.menu-container

block scripts
  script(src='/js/es6/compiled/game.js')
